<phpunit
        colors="true"
        stderr="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false"
        bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml"/>
    </logging>
    <php>
        <env name="API_KEY" value="AIzaSyD30XDxNzxn8dIU4fq4wK48c7pX9VF3uLs"/>
    </php>
</phpunit>